/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #FFCC33;
	margin:0;
}


#centered {
	text-align: center;
	position: relative;
	
}

ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}

li {
    float: left;
}

li a {
    display: block;
    color: darkturquoise;
    text-align: center;
    padding: 54px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}


#game {
				 text-align: center;
                 vertical-align: middle;
				 position: relative;
                 border-color: #000000;
                 border-width: 300px;
                 border-style: solid;
                 margin-top: -10%;
                 margin-bottom: 0%;
}